#titleCard {
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

#rules {
    height: 250px;
    padding: 15px;
}

#numberBox {
    height: 75px;
    text-align: center;
    float: left;
}

#winsLosses {
    height: 75px;
    text-align: center;
    float: right;
}

#crystals {
    padding: 0px;
    float: none;
}

#scoreLine {
    padding: 10px;
    text-align: center;
}